<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamproject.plastikproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_baggit"
        android:label="@string/app_name"
        android:theme="@style/ASlistTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="@string/google_maps_key" />-->
        <activity android:name=".activities.PurchaseActivity"></activity>
        <activity android:name=".activities.MapActivityOri"></activity>
        <activity android:name=".activities.PlacesActivityOri"></activity>

        <service android:name=".plastik.notif.AreWeThereIntentService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".plastik.activity.MapSmartAreActivity">

        </activity>
        <activity
            android:name=".activities.PlacesActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/app_name"></activity>

        <service
            android:name=".services.GpsAppointmentService"
            android:process=":gps_appointment_service" />

        <service
            android:name=".services.GeoLocationService"
            android:exported="false" />

        <service
            android:name=".WritePurchaseListService"
            android:enabled="true"
            android:exported="true"></service>

        <provider
            android:name=".helpers.ShoppingContentProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:process=":content"></provider>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="8320f4f5acb21ff81d1b7b411decc230244e2fae" />


        <activity android:name=".plastik.ShopingScheduleActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".plastik.HalamanUtamaActivity"></activity>
        <activity
            android:name=".plastik.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".plastik.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".plastik.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".plastik.activity.HalamanBaggingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".plastik.activity.ShoppingLocationActivity"></activity>
        <!--<receiver android:name=".broadcasts.AutoStartBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".broadcasts.AlarmBroadcastReceiver"></receiver>

        <activity android:name=".alarmapp.ui.activity.MainActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.AddAlarmActivity">

        </activity>
        <activity android:name=".alarmapp.ui.activity.BootAlarmActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.EditAlarmActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.RingActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.RemindActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.DayActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.RepeatActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.RepeatChoiceActivity"></activity>
        <activity android:name=".alarmapp.ui.activity.DeleteActivity"></activity>

        <receiver
            android:name=".alarmapp.ui.receiver.AlarmClockReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <service
            android:name=".alarmapp.service.AlarmClockService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="alarmapp.ui.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name=".plastik.notif.MainActivityTesting">

        </activity>

        <service
            android:name=".plastik.notif.GeofenceRegistrationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
